.page  {
  max-width: 1280px; /*задаем максимальную ширину page, чтобы на больших экранах она не увеличивалась и не была гигантской*/
  min-width: 320px;
  background: #2A2C2F;
  margin: 0 auto; /*для экранов больше 1280px экран будет по центру*/
/*сглаживание шрифтов*/
  -moz-osx-font-smoothing: grayscale; /*Вендорное свойство (нестандартное, работает только с префиксами) для сглаживания кастомных (несистемных, нестандартных) шрифтов*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; /*вендорное свойство - отвечает за то, чтобы при изменении масштаба страницы размер шрифта изменялся пропорционально*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; /*Рендеринг-свойство, которое задействует важные инструменты улучшения читаемости текста*/
/*начертание шрифтов*/
  font-family: 'Inter', Arial, sans-serif; /*задаем альтернативные шрифты.Не забывайте задавать фоллбэки шрифтам. Это нужно для того, чтобы в случае проблем с загрузкой файла шрифта, у пользователя всё равно отобразился текст страницы.*/
}
