.place__image {
  max-width: 460px;
  max-height: 460px;
  grid-area: image;
  margin: 0;
  display: block;
  /* подгоним картинки под размеры */
  object-fit: cover;
  width: 100%;
}

@media(max-width: 1279px) {
  .place__image {
  width: 440px;
  height: 440px;
  }
}

@media(max-width: 1023px) {
  .place__image {
  width: 340px;
  height: 340px;
  }
}

@media(max-width: 767px) {
  .place__image {
  width: 320px;
  height: 320px;
  padding: 0 0 0 16px;
  }
}

@media(max-width: 321px) {
  .place__image {
  padding: 0;
  }
}
