.place__image {
  grid-area: image;
  margin: 0;
  /* подгоним картинки под размеры */
  object-fit: cover;
  width: 100%;
}


@media(max-width: 650px) {
  .place__image {
    width: 320px;
    height: 320px;
  }
}

@media(max-width: 351px) {
  .place__image {
    padding: 0;
    margin: auto;
  }
}
