.footer__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .5s ease; /*при наведении мыши ссылка плавно становится немного прозрачнее*/
  margin: 0;
}

@media(max-width: 560px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}

/*при наведении мыши ссылка плавно становится немного прозрачнее*/
.footer__link:hover {
  opacity: 0.6;
}
