.lead__imeg {
  max-width: 984px;
  max-height: 615px;
  padding: 0 0 8px 0;
  display: block; /*Если навестись на изображение  инспектором кода, вы сможете заметить пустое пространство ниже, оно связанно с тем, что браузер резервирует дополнительное место под инлайновым элементом, чтобы туда выносить «хвосты» букв.
  Для переопределения этого эффекта изображению <img> обычно добавляют display: block;*/
}

@media(max-width: 1279px) {
  .lead__imeg {
    width: calc(100vw - 2*48px); /*для плавного изменения картинки на разных экранахю 100vw-вся ширина экрана минус боковые отступы*/
  }
}

@media(max-width: 1023px) {
  .lead__imeg {
    width: 100%;
    }
}
